.answer {
  width: 47.5%;
  padding: 10px;
  background-color: #363232;
  font-family: Verdana, sans-serif;
  color: #f7f1f1;
  font-weight: 700;
  border-radius: 10px;
  &:hover {
    border: 1px solid rgb(22, 22, 218);
  }
  &:focus {
    border: 1px solid rgb(22, 22, 218);
  }
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #1616da;
  border-right-color: #1616da;
  border-bottom-color: #1616da;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-top-color: #1616da;
  border-right-color: #1616da;
  border-bottom-color: #1616da;
  border-left-color: #1616da;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #1616da;
  border-right-color: #1616da;
  border-bottom-color: #1616da;
  border-left-color: #1616da;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #1616da;
  border-right-color: #1616da;
  border-left-color: #1616da;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-color: #1616da;
  border-right-color: #1616da;
  border-bottom-color: #1616da;
  border-left-color: #1616da;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #1616da;
  border-right-color: #1616da;
  border-bottom-color: #1616da;
  border-left-color: #1616da;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #1616da;
  border-bottom-color: #1616da;
  border-left-color: #1616da;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #1616da;
  border-right-color: #1616da;
  border-bottom-color: #1616da;
  border-left-color: #1616da;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #1616da;
  border-right-color: #1616da;
  border-bottom-color: #1616da;
  border-left-color: #1616da;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: #1616da;
  border-bottom-color: #1616da;
  border-left-color: #1616da;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #1616da;
  border-right-color: #1616da;
  border-bottom-color: #1616da;
  border-left-color: #1616da;
  border: 1px solid #0e0e0f;
}
